extends layout

block content
  div(class='hidden' id='start-room' room-id=room._id)
  include menu-bar.jade
  br
  br
  script(src='/javascripts/map.js')
  canvas(id='canvas' width=400 height=600)
  div(class='room-editor-wrapper')
    h2= room.title
    include room-editor.jade
  div(class='clear')
