extends layout

block content
  h2
    a(href='/rooms', class="plain-link")= "Rooms - "
    = room.title
  div(class='room')
    a(href='/rooms/' +room._id + '/edit')
      | Edit
    div(class='room-field')
      = "Area: " + room.area
    div(class='room-field')
      div(class='room-content')= 'Content ' + room.content
    div(class='room-field')
      |Items:
      unless room.items.length > 0
        |  none
      for item in room.items
        span(class="item")= item+ ", "
    br
    br
    a(href='/rooms/' + room._id + '/json') View Json ->
    br
    br
    br
    button(class="action-delete-room", data-id=room._id.toString()) Delete
