body {
  margin:0px;
  padding:0px;
  background: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main-container {
  margin:0px auto;
  width:950px;
  padding: 20px;
  background: #fff;
}

.clear {
  clear:both;
}

a {
  color:#339;
}

.plain-link {
  text-decoration: none;
}

/* ROOM EDITOR */
.error {
  display:none;
  background: #ffa9a9;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 15px;
}

.field input {
  min-width: 200px;
  background: #f8f8f8;
  border:none;
  border-bottom: 1px solid grey;
  font-size: 14px;
}

.field .label {
  font-size: 16px;
  padding-right: 20px;
  min-inline-size: 200px;
}

.field [name=content] {
  font-size: 14px;
  width: 500px;
  min-height: 30px;
}

#area-selector {
  margin-right: 20px;
}

.exit-object {
  background: #eee;
  padding: 10px;
  width:320px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.exit-object:hover {
  width:400px;
}

.exit-left {
  float:left;
  width:320px;
}
.exit-right {
  float:left;
  display:none;
}
.exit-object:hover .exit-right {
  display: block;
}

#exit-object-template {
  display: none;
}

.add-exit {
  margin-left: 20px;
}

#post-room {
  background: #cfc;
  font-size: 16px;
  border:1px solid grey;
  border-radius: 5px;
}

#update-room {
  background: #cfc;
  font-size: 16px;
  border:1px solid grey;
  border-radius: 5px;
  float:right;
}

.button-wrangler {
  width:300px;
  height:20px;
}

/* ROOMS LIST */
.area-title {
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 18px;
  border-bottom: 1px solid #aaa;
}

.room:nth-child(odd) {
  background: #f8f8f8;
}

.room {
  padding: 10px;
  padding-bottom: 20px;
}

.room-title {
  font-size:16px;
}
.room-content {
  font-style: italic;
}

.item {
  font-weight: bold;
}

.action-delete-room {
  background: #fcc;
  font-size: 16px;
  border:1px solid grey;
  border-radius: 5px;
}

.rooms-list .action-delete-room {
  display:none;
}

.room:hover .action-delete-room {
  display: inline;
}
